{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Chat App - Register/LogIn</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
<link rel="stylesheet" href="/static/css/chat/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <div class="container">
    
      <form method="post" class="login-form">
        <h1>Django Chat App </h1>
        <div class="form-content">
          {% csrf_token %}
          <div class="errmsg">{{errmsg}}</div>
          <input type="text" name="username" id="username" placeholder="username" required>
          <input type="password" name="password" id="password" placeholder="password" required>
          <button type="submit">Log In/ Register</button>
        </div>
      </form>
  </div>
</body>
<!-- partial -->
  <!-- <script  src="./script.js"></script> -->
   <script>

   </script>

</body>
</html>
